@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/* set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 14px;
  height: 6px;
}

/* set the background color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* set the color and style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(22 163 74);
  border-radius: 6px;
  border: 3px solid #f5f5f5;
}

/* set the color of the scrollbar thumb when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(22 163 74);
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
